{# Причины оценки игрока (aggregates/explain.py): события, форма, трибуны, статистика, эксперт. #}
<details class="md-why{% if flush %} md-why--flush{% endif %}">
    <summary class="md-why__summary">
        <i class="ti ti-help-circle"></i>
        <span>Почему {{ score|floatformat:1 }}</span>
        <span class="md-why__hint">{{ why.headline }}</span>
        <i class="ti ti-chevron-down md-why__chev"></i>
    </summary>
    <ul class="md-why__list">
        {% for r in why.reasons %}
        <li class="md-why__item md-why__item--{{ r.tone }}"><i class="ti {{ r.icon }}"></i><span>{{ r.text }}</span></li>
        {% endfor %}
    </ul>
</details>
