amqp==5.3.1
anyio==4.12.1
asgiref==3.11.1
beautifulsoup4==4.12.3
billiard==4.2.4
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.5
Django==6.0.3
django-filter==25.2
djangorestframework==3.16.1
greenlet==3.3.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
hyperframe==6.1.0
idna==3.11
kombu==5.6.2
lxml==5.2.2
packaging==26.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
playwright==1.58.0
prompt_toolkit==3.0.52
psycopg==3.3.3
pycparser==3.0
pyee==13.0.1
pypdfium2==5.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==7.3.0
requests==2.32.3
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uuid==1.30
vine==5.1.0
wcwidth==0.6.0
