{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'components/_page_head.html' with icon="ti-gavel" title="Судьи" sub="Качество решений и влияние на матчи по оценкам болельщиков" %}

{% include 'components/_season_scope_toggle.html' %}

{% include 'components/_list_toolbar.html' with placeholder="Поиск судьи" q=search_query teams=False positions=False %}

{% if rows %}
<div class="el">
    {% for row in rows %}
    {% include 'components/_entity_row.html' %}
    {% endfor %}
</div>
{% else %}
<div class="el-empty">
    <i class="ti ti-gavel"></i>
    <h3 class="text-lg font-semibold mt-2">Судьи не найдены</h3>
    <p class="text-sm">Попробуйте изменить поиск</p>
</div>
{% endif %}

{% include 'components/_pagination.html' %}
{% endblock %}
