{% extends 'base.html' %}
{% load static %}
{% load querystring_extras %}
{% block content %}
{% include 'components/_page_head.html' with icon="ti-clipboard-list" title="Тренеры" sub="Как болельщики оценивают работу тренеров" %}

{% include 'components/_season_scope_toggle.html' %}

{% include 'components/_list_toolbar.html' with placeholder="Поиск тренера" q=search_query teams=teams positions=False %}

{% if rows %}
<div class="el">
    {% for row in rows %}
    {% include 'components/_entity_row.html' %}
    {% endfor %}
</div>
{% else %}
<div class="el-empty">
    <i class="ti ti-clipboard-off"></i>
    <h3 class="text-lg font-semibold mt-2">Тренеры не найдены</h3>
    <p class="text-sm">Попробуйте изменить поиск</p>
</div>
{% endif %}

{% include 'components/_pagination.html' %}
{% endblock %}
